.edit .task_input{
    width:130px;
    display:inline-block;
} 
.task_input{
    display:none;
}

.list-group-item.active{
    background-color:rgba(0,0,0,0.6);
    opacity: 0.6;
    text-decoration: line-through;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
